@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0faff;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    background: #8B0629;
    padding: 50px;
    border-radius: 16px;
}
.wrapper a{
    margin-bottom: 150px;
    cursor: pointer;
}

.wrapper a i{
    font-size: 20px;
    text-decoration: none;
    color: #f9ea9f;
    margin-left: -20px;
    transition:.4s;
}

.wrapper a i:hover{
    font-size: 25px;
    text-decoration: none;
    color: #f9ea9f;
    margin-left: -20px;
    transition:.4s;
}

.wrapper .input-box h6{
    color: #f9ea9f;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}
.wrapper .icon{
    font-size: 25px;
    color: #f9ea9f ;
    margin-top: 25px;
}
.wrapper .input-box input{
    max-width: 100px;
    height: 50px;
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
    
}

.input-box input::-webkit-inner-spin-button,::-webkit-outer-placeholder{
    display: none;
}

.wrapper ul li{
    list-style: none;
    padding: 15px;
}
.wrapper ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #f9ea9f;
    transition: .4s;
}
/* .wrapper ul li button{
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 400;
    color: #f9ea9f;
    transition: .4s;
} */
.wrapper ul li a:hover{
    font-size: 22px;
    transition: .4s;
    transition-delay: .2s;
}